* {
  font-family: Helvetica, sans-serif;
  background-color: antiquewhite;
  margin: 10px;
  /* text-align: center; */
}

img {
  height: auto;
  width: 300px;
}

ol {
  width: 75%;
}

.card {
  display: inline-block;
}

.container {
  text-align: center;
}